out
simulations/frames
*.mp4
*.sif
src/PkDelay
src/PkDelay_dbg
src/pkdelay
src/pkdelay_dbg
*.vci
*.vec
*.sca
*.qtenvrc
simulations/results/*
omnetpp-gui
src/Makefile

# ignore binary files
out/
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.o
*.obj
*.pdb
*.idb
*.manifest
.qtenv.ini
.qtenvrc
.tkenvrc
.tkenvlog
.cmdenv-log
netanim-trace.txt
*.out
