out
simulations/frames
*.mp4
*.sif
src/deterministic6g
src/deterministic6g_dbg
*.vci
*.vec
*.sca
*.qtenvrc
simulations/**/results/
omnetpp-gui
src/Makefile
.settings/

doc/src/_build
doc/

# ignore binary files
out/
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
*.o
*.obj
*.pdb
*.idb
*.manifest
.qtenv.ini
.qtenvrc
.tkenvrc
.tkenvlog
.cmdenv-log
netanim-trace.txt
*.out
.metadata
